@model IEnumerable<WebStock.Models.Report>

@{
    ViewData["Title"] = "History";
}

<p class="title">History from Storage</p>
<hr/>
<table class="table table-striped table-bordered bordered">
    <thead class="table-dark">
        <tr>
            <th scope="col">Moment</th>
            <th scope="col">Name</th>
            <th scope="col">Product Code</th>
            <th scope="col">Operation</th>
            <th scope="col">Qnt Op.</th>
            <th scope="col">Before Op.</th>
            <th scope="col">After Oper.</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Moment.ToString("yyyy-MM-dd HH:mm:ss")</td>
                <td>@item.ProductName</td>
                <td>@item.ProductCode</td>
                <td>@item.Operation</td>
                <td>@item.OperationQuantity</td>
                <td>@item.BeforeOperation</td>
                <td>@item.AfterOperation</td>
            </tr>
        }
    </tbody>
</table>
