@model IEnumerable<WebStock.Models.Report>

@{
    ViewData["Title"] = "History";
}

<h1>History from Storage</h1>

<table class="table">
    <thead class="table-dark">
        <tr>
            <th>Moment</th>
            <th>Name</th>
            <th>Operation</th>
            <th>Qnt Op.</th>
            <th>Before Op.</th>
            <th>After Oper.</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Moment.ToString("yyyy-MM-dd HH:mm:ss")</td>
                <td>@item.Product.Name</td>
                <td>@item.Operation</td>
                <th>@item.OperationQuantity</th>
                <th>@item.BeforeOperation</th>
                <th>@item.AfterOperation</th>
            </tr>
        }
    </tbody>
</table>
