@model WebStock.Models.Supplier

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Supplier</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Document)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Document)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupplierType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
    </dl>
</div>

<hr/>
<h4>Actions</h4>
<div>
    <dl class="row">
        <dt class="col-sm-3">
            Do you want edit the register?
        </dt>
        <dd class="col-sm-9">
            <a asp-action="Register" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>
        </dd>
        <dt class="col-sm-3">
            Do you want delete the register?
        </dt>
        <dd class="col-sm-9">
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Delete" class="btn btn-danger" />
            </form>
        </dd>
        <dt class="col-sm-3">
            Return to index?
        </dt>
        <dd class="col-sm-9">
             <a asp-action="Index" class="btn btn-dark">Back to List</a>
        </dd>
    </dl>

    
</div>
