@model WebStock.Models.Product

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Name:
        </dt>
        <dd class = "col-sm-10">
            @Model.Name
        </dd>
        <dt class = "col-sm-2">
            Code Bar:
        </dt>
        <dd class = "col-sm-10">
            @Model.CodeBar
        </dd>
        <dt class = "col-sm-2">
            Product Code:
        </dt>
        <dd class = "col-sm-10">
            @Model.ProductCode
        </dd>
        <dt class = "col-sm-2">
            Description:
        </dt>
        <dd class = "col-sm-10">
            @if (Model.Description != null)
            {
                <span>@Model.Description</span>
            }
            else
            {
                <span>Without description</span>
            }
        </dd>
        <dt class = "col-sm-2">
            Is Active?
        </dt>
        <dd class = "col-sm-10">
            @if (Model.Active == true)
            {
                <span><i class="fa-sharp fa-solid fa-circle-check"></i></span>
            }
            else
            {
                <span><i class="fa-solid fa-circle-xmark"></i></span>
            }
        </dd>
        <dt class = "col-sm-2">
            Quantity Ava.:
        </dt>
        <dd class = "col-sm-10">
            @Model.Quantity
        </dd>
        <dt class = "col-sm-2">
            Supplier Name:
        </dt>
        <dd class = "col-sm-10">
            @if (Model.Supplier != null)
            {
                <span>@Model.Supplier.Name</span>
            }
            else
            {
                <span>Without category</span>
            }
        </dd>
        <dt class = "col-sm-2">
            Category Name:
        </dt>
        <dd class = "col-sm-10">
            @if (Model.Category != null)
            {
                <span>@Model.Category.Name</span>
            }
            else
            {
                <span>Without category</span>
            }
        </dd>
    </dl>
</div>
<hr />
<h4>Actions</h4>
<div>
    <dl class="row">
        <dt class="col-sm-4 align-middle">
            Do you want edit the register?
        </dt>
        <dd class="col-sm-8 align-middle">
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>
        </dd>
        <dt class="col-sm-4 align-middle">
            Do you want delete the register?
        </dt>
        <dd class="col-sm-8 align-middle">
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Delete" class="btn btn-danger" />
            </form>
        </dd>
        <dt class="col-sm-4 align-middle">
            Return to index?
        </dt>
        <dd class="col-sm-8 align-middle">
            <a asp-action="Index" class="btn btn-dark">Back to List</a>
        </dd>
    </dl>
</div>
